[Unit]
Description=Beebit Network Configurator
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/beebit
ExecStart=/usr/bin/python3 /opt/beebit/netconf.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
